{% extends 'shared/layout.html' %}
{% block maincontent %}


<p class="poem">Behold piano great and old, its master slumbers in far-off cold. If you wish to see anew, call out to it - we see you.</p>

<div class="piano-container">
    <h2>The Great Old One</h2>
    <div class="piano">
        <div class="key white" data-key="65"><span>A</span></div>
        <div class="key white" data-key="83"><span>S</span></div>
        <div class="key white" data-key="68"><span>D</span></div>
        <div class="key white" data-key="70"><span>F</span></div>
        <div class="key white" data-key="71"><span>G</span></div>
        <div class="key white" data-key="72"><span>H</span></div>
        <div class="key white" data-key="74"><span>J</span></div>
        <div class="key white" data-key="75"><span>K</span></div>
        <div class="key white" data-key="76"><span>L</span></div>
        <div class="key white" data-key="186"><span>;</span></div>
        <div class="key black" data-key="87"><span>W</span></div>
        <div class="key black" data-key="69"><span>E</span></div>
        <div class="key black" data-key="84"><span>T</span></div>
        <div class="key black" data-key="89"><span>Y</span></div>
        <div class="key black" data-key="85"><span>U</span></div>
        <div class="key black" data-key="79"><span>O</span></div>
        <div class="key black" data-key="80"><span>P</span></div>
    </div>
</div>

{% endblock %}