/* General styling for margins */
main {
    max-width: 80vw;
    margin: 3em auto 0 auto;
    flex: 1 0 auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center; 
}

  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Flex container for two columns */
.content-row {
    display: flex;
    flex-wrap: nowrap;
    max-height: 50vh; 
    max-width: 80vw;  
    width: 80vw;     
    margin: 0 auto;  
}
  
 /*Styling for left column (holds image) */
  .left-column {
    flex: 1;
  }
  
  .left-column img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  /* Right Column (Name and Description) */
.right-column {
    flex: 1;
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 1.25em;
    text-align: justify;
    max-height: 50vh; 
  }
  

/*Sizing considerations for columns */
  .right-column h1, .right-column p {
    margin: 0 0 .7em 0; 
  }

.left-column, .right-column {
    flex: 1 1 50%;
    max-height: 50vh;
}

.right-column p {
    font-size: 1.2em;
}

/* Fun Fact styling  */
.fun-fact {
    margin-top: 1.25em;
    text-align: center;
    border-top: 1px solid #ccc; 
    padding-top: 1.25em;         
}



/* Styling for small windows and mobile */
@media screen and (max-width: 650px) {
    content-row {
        flex-direction: column;
        max-width: 80vw;
        max-height: none;
    }
    
    .left-column, .right-column {
        width: 100%;
        max-width: 80vw;
        max-height: none;
    }

    .right-column {
        overflow-y: visible;
    }
}

